# Build
build/
.gradle/

# IDE
.idea/
.vscode/
.settings
.project
.classpath
*.iml
.DS_Store
.kotlin/

# Application
application-local.properties

# Vaadin
node_modules/
src/main/frontend/generated/
vite.generated.ts
